<!--<div class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<a href="../" class="navbar-brand">TP1</a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a target="_blank">Camila Miranda</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div class="container">
    <div class="page-header" id="banner">
        <a [routerLink]="['artists']"></a>

    </div>
</div>
<router-outlet></router-outlet>