<!--<div class="container">-->
    <!--<div class="col-lg-4 col-md-4 col-sm-4">-->
        <!--<h1>Artist</h1>-->
        <!--<p class="lead">Select artist</p>-->
    <!--</div>-->
<!--</div>-->


    <div class="about" id="artists">
        <div class="container">
        <h1>Artist</h1>
        <p class="lead">Select artist</p>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="list-group">
                <a [routerLink]="['/album', artist.name]" class="list-group-item" *ngFor="let artist of artists">
                    <router-outlet></router-outlet>
                    {{artist.id}} - {{artist.name}}
                </a>
            </div>
            <div *ngIf="selectedArtist">
                <h2>Formulaire</h2>
                <div>
                    <label>name: </label>
                    <input [(ngModel)]="selectedArtist.name" placeholder="name"/>
                </div>
            </div>
        </div>
    </div>
</div>